header {
  width: $article-width;

  margin: 0 auto;
  padding-top: 80px;


  .title {
    display: inline-block;
    font-family: $font-title;
    color: $text-color-title;
    font-size: 44px;
    line-height: 1.35;
  }

  .subtitle {
    font-family: $font-header;
    color: $text-color-header;
    font-size: 16px;
    font-style: italic;
  }
}