@import "../includes/container-width";

header {
  @include container-width;

  padding-top: 60px;


  .title {
    display: inline-block;
    font-family: $font-title;
    color: $text-color-title;
    font-size: 44px;
    line-height: 1.35;

    a, a:hover {
      text-decoration: none;
      color: $text-color-header;
    }
  }

  .subtitle {
    font-family: $font-article;
    color: $text-color-header;
    font-size: 16px;
    font-style: italic;
  }
}