.stick-man {
  display: block;
  position: relative;

  @include container-width;

  &:after {
    content: '';
    background-image: image-url('stick_man.png');
    background-size: auto 138px;
    background-repeat: no-repeat;
    width: 100px;
    height: 138px;

    position: absolute;
    top: 0;
    right: -80px;

    opacity: 0.75;
  }

}