@import "../includes/media-widths";

.stick-man {
  display: block;
  position: relative;

  @include container-width;

  &:after {
    content: '';
    background-image: image-url('stick_man.png');
    background-size: auto 179px;
    background-repeat: no-repeat;
    width: 92px;
    height: 179px;

    position: absolute;
    top: 0;
    right: -80px;

    opacity: 0.75;

    @include below-sm {
      background-image: image-url('avatar.png');
      background-size: cover;
      width: 30px;
      height: 30px;

      top: 8px;
      right: 0;
    }
  }

  &:hover {
    cursor: pointer;
    &:after {
      animation: animationFrames linear 1s;
      animation-iteration-count: 1;
      -webkit-animation: animationFrames linear 1s;
      -webkit-animation-iteration-count: 1;
      -moz-animation: animationFrames linear 1s;
      -moz-animation-iteration-count: 1;
      -o-animation: animationFrames linear 1s;
      -o-animation-iteration-count: 1;
      -ms-animation: animationFrames linear 1s;
      -ms-animation-iteration-count: 1;
    }
  }

}

@keyframes animationFrames {
  0% {
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }
  51% {
    transform: rotate(360deg) scaleX(3) scaleY(3) skewX(0deg);
  }
  100% {
    transform: rotate(720deg) scaleX(1) scaleY(0) skewX(0deg);
  }
}

@-moz-keyframes animationFrames {
  0% {
    -moz-transform: rotate(0deg) scaleX(1) scaleY(1);
  }
  51% {
    -moz-transform: rotate(360deg) scaleX(3) scaleY(3) skewX(0deg);
  }
  100% {
    -moz-transform: rotate(720deg) scaleX(1) scaleY(0) skewX(0deg);
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1);
  }
  51% {
    -webkit-transform: rotate(360deg) scaleX(3) scaleY(3) skewX(0deg);
  }
  100% {
    -webkit-transform: rotate(720deg) scaleX(1) scaleY(0) skewX(0deg);
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform: rotate(0deg) scaleX(1) scaleY(1);
  }
  51% {
    -o-transform: rotate(360deg) scaleX(3) scaleY(3) skewX(0deg);
  }
  100% {
    -o-transform: rotate(720deg) scaleX(1) scaleY(0) skewX(0deg);
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform: rotate(0deg) scaleX(1) scaleY(1);
  }
  51% {
    -ms-transform: rotate(360deg) scaleX(3) scaleY(3) skewX(0deg);
  }
  100% {
    -ms-transform: rotate(720deg) scaleX(1) scaleY(0) skewX(0deg);
  }
}