@import "syntax-default";
@import "../includes/media-widths";

.highlight {
  overflow: scroll;

  @include below-md {
    span {
      font-size: 12px;
    }
  }

  code {
    display: block;
    width: 150%;
  }
}
