<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Edan Schwartz - Web Developer</title>

  <link href='http://fonts.googleapis.com/css?family=Lato:700|Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../../assets/themes/eschwartz/css/post-list.css"/>
</head>
<body>

<div class="stick-man"></div>


<header>
  <div class="title">Edan Schwartz</div>
  <div class="subtitle">I like nice code.</div>
</header>

<ul class="post-list">

  <li>
    <article>
      <h1><a href="post.html">Optimize Wire.js builds using the Almond.js AMD shim</a></h1>

      <p>I have been using <a href="https://github.com/cujojs/wire">Wire.js</a> while building a weather maps application for
        my <a href="http://www.hamweather.com/">employer</a>, dubbed <em>Aeris Interactive</em>...
    </article>`
  </li>

  <li>
    <article>
      <h1><a href="post.html">My 3 P’s of the Perfect Job</a></h1>

      <p>A friend asked me, “What are the things that make a job worth staying in for the long haul?” a bit of thought allowed me to simplify my...</p>
    </article>
  </li>

  <li>
    <article>
      <h1><a href="post.html">How To Read Game Of Thrones</a></h1>
      <p>
        and not get traumatized by horror, thwarted by language, lost in geography, muddled by mythology, confused by the cast, or bored by details.
      </p>
    </article>
  </li>

  <li>
    <article>
      <h1><a href="post.html">Optimize Wire.js builds using the Almond.js AMD shim</a></h1>

      <p>I have been using <a href="https://github.com/cujojs/wire">Wire.js</a> while building a weather maps application for
        my <a href="http://www.hamweather.com/">employer</a>, dubbed <em>Aeris Interactive</em>...
    </article>
  </li>

  <li>
    <article>
      <h1><a href="post.html">My 3 P’s of the Perfect Job</a></h1>

      <p>A friend asked me, “What are the things that make a job worth staying in for the long haul?” a bit of thought allowed me to simplify my...</p>
    </article>
  </li>

  <li>
    <article>
      <h1><a href="post.html">How To Read Game Of Thrones</a></h1>
      <p>
        and not get traumatized by horror, thwarted by language, lost in geography, muddled by mythology, confused by the cast, or bored by details.
      </p>
    </article>
  </li>

  <li>
    <article>
      <h1><a href="post.html">Optimize Wire.js builds using the Almond.js AMD shim</a></h1>

      <p>I have been using <a href="https://github.com/cujojs/wire">Wire.js</a> while building a weather maps application for
        my <a href="http://www.hamweather.com/">employer</a>, dubbed <em>Aeris Interactive</em>...
    </article>
  </li>

  <li>
    <article>
      <h1><a href="post.html">My 3 P’s of the Perfect Job</a></h1>

      <p>A friend asked me, “What are the things that make a job worth staying in for the long haul?” a bit of thought allowed me to simplify my...</p>
    </article>
  </li>

  <li>
    <article>
      <h1><a href="post.html">How To Read Game Of Thrones</a></h1>
      <p>
        and not get traumatized by horror, thwarted by language, lost in geography, muddled by mythology, confused by the cast, or bored by details.
      </p>
    </article>
  </li>


</ul>



</body>
</html>