---
theme:
  name: eschwartz
---
{% include JB/setup %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <title>{{ site.title }}- Web Developer</title>

  <link rel="icon" type="image/png" href="{{ ASSET_PATH }}/images/avatar.png">

  <link href='http://fonts.googleapis.com/css?family=Lato:700|Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ ASSET_PATH }}/css/{{ layout.stylesheet }}.css"/>
</head>
<body>

<a href="/" class="stick-man"></a>

<nav>
  <ul>
    <li>
      <a href="/about.html">About me</a>
    </li>
    <li>
      <a href="http://github.com/eschwartz" target="_blank">On Github</a>
    </li>
  </ul>
</nav>


<header>
  <div class="title"><a href="/">{{ site.title }}</a></div>
  <div class="subtitle">{{ site.tagline }}</div>
</header>


{{ content }}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55273821-1', 'auto');
    ga('send', 'pageview');

  </script>

  <script type="text/javascript">
    window.SITE_DOMAIN = window.location.origin;


    (function openLinksInNewWindow() {
      [].forEach.call(getRemoteLinks(), openLinkInNewWindow);

      function getRemoteLinks() {
        var link_els = document.getElementsByTagName('a');

        return [].filter.call(link_els, isLinkRemote);
      }

      function isLinkRemote(linkEl) {
        var href = linkEl.href;
        var isRemote = !!href.match(/^http/);
        var isLocalDomain = !!href.match(new RegExp(SITE_DOMAIN));

        return isRemote && !isLocalDomain;
      }

      function openLinkInNewWindow(link_el) {
        link_el.setAttribute('target', '_blank');
      }
    })();
  </script>

</body>
</html>
