---
theme:
  name: eschwartz
---
{% include JB/setup %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}- Web Developer</title>

  <link href='http://fonts.googleapis.com/css?family=Lato:700|Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ ASSET_PATH }}/css/{{ page.stylesheet }}.css"/>
</head>
<body>

<a href="/" class="stick-man"></a>

<nav>
<nav>
  <ul>
    <li>
      <a href="/about.html">About me</a>
    </li>
    <li>
      <a href="http://github.com/eschwartz" target="_blank">On Github</a>
    </li>
  </ul>
</nav>


<header>
  <div class="title"><a href="/">{{ site.title }}</a></div>
  <div class="subtitle">{{ site.tagline }}</div>
</header>


{{ content }}


</body>
</html>
