@import "compass";
@import "compass/utilities/general";
@import "includes/container-width";

$font-title: Georgia, serif;
$font-header: 'Lato', 'Lucida Grande', 'Lucida Sans', sans-serif;
$font-article: Georgia, serif;
$font-code: Menlo, monospace, serif;

$text-color-title: rgba(0, 0, 0, 0.8);
$text-color-header: rgba(0, 0, 0, 0.8);
$text-color-article: rgba(0, 0, 0, 0.8);

@import "partials/normalize";
@import "partials/nav";
@import "partials/header";
@import "partials/icons";
@import "partials/article";
@import "partials/stickman";
@import "partials/syntax";
@import "partials/disqus";

.page {
  @include container-width;
}